.navbar {
    position: fixed; /* Fixed positioning */
    top: 0;         /* Align to the top */
    left: 0;        /* Align to the left */
    width: 100%;    /* Take full width of the viewport */
    z-index: 1000;  /* High z-index to stay on top of other elements */

    overflow: hidden;
    /* background-color: #333; */
    background-color: rgba(35, 35, 35, 0.6); /* semi-transparent white background */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    
    /* Additional styling for better appearance */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.hamburger-menu {
    display: none;
}

/* Hamburger Menu */
.hamburger-menu button {
    background: none;
    color: #212121;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001; /* Higher than the overlay's z-index */
}

/* New class for the active state of the button */
.hamburger-menu button.is-active {
    color: #e3e3e3; /* Change to the color you want */
}

/* Overlay */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(35, 35, 35);;
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 1000; /* Higher than the overlay's z-index */
}

/* Overlay Content */
.overlay-content {
    position: relative;
    /* top: 25%; */
    width: 100%;
    text-align: left;
    margin-top: 10%;
    margin-left: 5%;
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    display: block;
    transition: 0.5;
}

.overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .navbar a {
        display: none; /* Hide regular navbar items on smaller screens */
    }
}