html {
    display: table;
    margin: auto;
    scroll-behavior: smooth;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    /* padding: 0; */
    padding-top: 50px;
}

a {
    scroll-margin-top: 50px;
}

/* Exception for resetting home */
a[name="home"] {
    scroll-margin-top: 90px;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.header, .social-links, .skills, .github-stats, .footer {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.icon {
    width: 40px;
    height: auto;
    margin: 0 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px; /* Adjust padding as needed */
    justify-content: center;
    background-color: #ffffff; /* Your chosen background color */
    border-radius: 20px; /* This adds rounded corners to the section */
    margin: auto; /* Centers the section if there's a width */
    max-width: 960px; /* Optional: max-width for the section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: adds shadow for depth */
}

.skill {
    display: inline-block;
    margin: 10px;
}

.skill-icon {
    width: 40px;
    height: auto;
}

.github-stats-img {
    width: 100%;
    height: auto;
}

.footer {
    font-size: 0.8em;
    color: #666;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
}
