* {
    box-sizing: border-box;
}

body {
    max-width: 90%;
    margin: auto;
    text-align: center;
}

.content {
    /* border: 1px solid red; */

    /* width: 100%; */
    /* float: left; */
    /* max-width: 90%; */
    /* margin: auto; */
    text-align: center;
}

.loaded {
    /* border: 1px solid red; */
    
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 600px;
    /* float: center; */
    display: none;
    position: relative;
    pointer-events: none;
}